---
layout: default
title: Justyn Jen
---

<section class="masthead" style="background-image:url(https://d1qmdf3vop2l07.cloudfront.net/real-slipper.cloudvent.net/compressed/195e45eccda5def07f583f9d225ec2a0.jpg)">
  <h1 class="absolute-center">Welcome to the Adventure</h1>
</section>

<section class="section-intro">
  <div class="row small-up-1 medium-up-2">
    <div class="column small-order-2 medium-order-1 intro-image"></div>

    <div class="column small-order-1 medium-order-2">
      <h2>I'm Justyn</h2>
      <h4 class="underline">pronounced just(in)</h4>
      <p>I’m a freelancer with a passion for writing, taking photos and helping others live their best life. I share personal travel stories as well as tips for finding the best wifi, cafes and working spaces around the world. I have been traveling for just about 3 years now and have been lucky enough to fund my traveling through working remote. </p>
      <p>My happiest days are spent sipping coffee at little cafes and exploring new cities around the world.</p>
    </div>
  </div>
</section>

<section class="mailing-list">
  <div class="row column">
    {% include mailer.html %}
  </div>
</section>

<section class="section-stats">
  <div class="row small-up-3">
    <div class="column">
      <div class="stat-name">Countries</div>
      <div class="stat-count">54</div>
    </div>

    <div class="column">
      <div class="stat-name">Cities</div>
      <div class="stat-count">147</div>
    </div>

    <div class="column">
      <div class="stat-name">Flights</div>
      <div class="stat-count">92</div>
    </div>
  </div>
</section>

<section class="section-blog">
  <div class="row column">
    <h2 class="section-heading">Read the Blog</h2>
  </div>

  <div class="row column">
    <div class="slider">
      {% include blog-item.html %}
      {% include blog-item.html %}
      {% include blog-item.html %}
      {% include blog-item.html %}
      {% include blog-item.html %}
    </div>
  </div>
</section>
