<aside class="sidebar">
  <section class="sidebar-intro">
    <img src="/assets/img/rice-terraces-bali.jpg" alt="Justyn Jen">
    <h5>I'm Justyn</h5>
    <p>I’m a freelancer with a passion for writing, taking photos and helping others live their best life. I share personal travel stories as well as tips for finding the best wifi, cafes and working spaces around the world. I have been traveling for just about 3 years now and have been lucky enough to fund my traveling through working remote.</p>
  </section>

  <section class="sidebar-pinterest">
    <h5>Pin this Post</h5>
    <img src="{{ page.pinterest-image_path}}" alt="{{ post.title }}">
  </section>

  <section class="sidebar-entries">
    <h5>Latest Posts</h5>
    {% for post in site.posts limit:3 %}
      {% include entry-item.html %}
    {% endfor %}
  </section>

  <section class="sidebar-mailing-list">
    <h5>Download my free Pinterest SEO eBook!</h5>
    <a href="https://www.subscribepage.com/pinterest-freebie"><img src="/assets/img/Pinterest-seo-pin-100.jpg" alt="My Pinterest SEO free download"></a>
    <button type="button" name="button">
      <a href="https://www.subscribepage.com/pinterest-freebie">Get it now!</a>
    </button>
  </section>


<section>
<h5>Book Your Stay Today</h5>
<ins class="bookingaff" data-aid="1624502" data-target_aid="1624502" data-prod="banner" data-width="250" data-height="250" data-lang="en">
    <!-- Anything inside will go away once widget is loaded. -->
    <a href="//www.booking.com?aid=1624502">Booking.com</a>
</ins>
<script type="text/javascript">
  (function(d, sc, u) {
    var s = d.createElement(sc),
      p = d.getElementsByTagName(sc)[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = u + '?v=' + (+new Date());
    p.parentNode.insertBefore(s, p);
  })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>
</section>

<section>
<h5>Let's Connect on Pinterest</h5>
<a data-pin-do="embedUser" data-pin-board-width="275" data-pin-scale-height="400" data-pin-scale-width="80" href="https://www.pinterest.com/justynjen/"></a>
</section>
